@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

.MainPage p{
    margin: 5px 2% 1% 2%;
    text-align: justify;
    font-size: larger;
    text-indent: 1.5em;
    
} 
.MainPage li{
    text-align: justify;
    font-size: larger;
    font-style:italic;
} 
.MainPage strong{
    font-size: larger;
} 
.MainPage h2{
    font-family: 'Forum', cursive;
    color:rgb(168, 20, 20);
    text-align: center;
    position: relative;
}
.MainPage img{
    width: 300px;
    height: 300px;
    margin: 10px;
}
.TestsConteiner{
margin: 10px 0px 0px 5%;
width:100%;
min-height: 250px;
border: 6px outset #4db336;
position: relative;
border-radius: 20px;
display:inline-block;
vertical-align:top;
}
.butConteiner{
    display: flex;
    justify-content: space-around;
}
.buttonResponse{
    width: 20%;
    margin-top: 3%;
}
.placeholder{
    margin-top: 10px;
    margin-left: 8%;
    margin-bottom: 10px;
    width: 90%;
    height: 20px;
    cursor: default !important;
    text-align: center;
    color: black !important;
}